@use "variables" as v;
@use "mixins" as m;

.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include m.desktop {
    flex-direction: column;
  }
}

blockquote > p {
  display: inline-block;
  padding: 10px 20px;
  background: v.$gray;
  border-left: 2px solid v.$primary-color;
  font-style: italic;
  font-size: 22px;
  line-height: inherit;
}

.content {
  * {
    margin-bottom: 20px;
  }

  strong {
    font-family: v.$secondary-font;
    font-size: 22px;
    font-weight: normal;
    color: v.$text-color-dark;
    display: inherit;
    line-height: 1.5;
  }
}