---
layout: default
title: Certifications
---

<section class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 mb-20 mt-lg-0">
        <ul class="list-unstyled mb-0">
          {% assign categories = "" %} {% for cert in site.certifications %} {%
          unless categories contains cert.category %} {% assign categories =
          categories | append: cert.category | append: "," %} {% endunless %} {%
          endfor %} {% assign categories = categories | split: "," %} {% for
          category in categories %} {% assign cert_count = site.certifications |
          where: "category", category | size %}

          <li class="mb-6 mb-xl-10">
            <a
              class="link-primary h2 text-decoration-none lh-sm"
              href="#{{ category }}"
            >
              {{ category }}
            </a>
            <span
              class="align-items-center justify-content-center ms-4 mb-0 bg-primary-light fw-bold p-1 rounded-circle"
              style="width: 24px; height: 24px; font-size: 12px"
            >
              {{ cert_count }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-12 col-lg-8">
        <div class="row">
          {% for category in categories %}
          <div
            id="{{ category }}"
            class="cert-list"
            style="
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 2px;
            "
          >
            {% for cert in site.certifications %} {% if cert.category ==
            category %}
            <div class="">
              <div class="card">
                <img
                  src="{{ cert.image }}"
                  alt="{{ cert.title }}"
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ cert.title }}</h5>
                  <p class="card-text">{{ cert.description }}</p>
                </div>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Simple Category Filter
  document.querySelectorAll(".link-dark, .link-primary").forEach((link) => {
    link.addEventListener("click", function (e) {
      e.preventDefault();

      // Hide all certification lists
      document.querySelectorAll(".cert-list").forEach((list) => {
        list.style.display = "none";
      });

      // Show selected category
      const selectedCategory = this.getAttribute("href").substring(1);
      document.getElementById(selectedCategory).style.display = "grid";
    });
  });
</script>
