---
layout: default
title: Home
---

<section class="pb-20 position-relative overflow-hidden">
  <div class="container">
    <div class="row d-lg-flex flex-lg-row justify-content-lg-between">
      <div
        class="position-relative top-0 start-0 ms-n32 pe-32 col-12 d-none d-lg-flex align-items-lg-center col-lg-auto"
      >
        <div class="position-absolute d-flex" style="transform: rotate(-90deg)">
          {% for profile_link in site.profile_links %}
          <a
            class="small fw-bold text-decoration-none text-dark me-28"
            href="{{ profile_link.link }}"
            >{{ profile_link.title }}</a
          >
          {% endfor %}
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-5 d-md-flex align-items-md-center d-lg-none"
      >
        <ul
          class="mw-lg mx-auto list-unstyled mb-0 mt-md-0 text-center d-flex justify-content-center justify-content-md-between gap-6 flex-md-column"
        >
          {% for profile_link in site.profile_links %}
          <li>
            <a
              class="text-decoration-none small text-dark fw-bold"
              href="{{ profile_link.link }}"
              >{{ profile_link.title }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-5 mb-6 mt-lg-0">
        <div class="mt-6 mt-md-0 d-flex flex-column align-items-center">
          <div>
            <img class="img-thumbnail" src="images/profilepic.jpeg" alt="" />
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-12 col-lg-5 d-lg-flex flex-lg-row align-items-lg-center"
      >
        <div class="mw-lg mx-auto mw-md-none">
          <h1 class="lh-sm mb-6">
            <span>Hi, I am</span>
            <span
              data-qb-tmp-id="lt-165514"
              spellcheck="false"
              data-gramm="false"
            ></span>
          </h1>
          <h1 class="lh-sm mb-6">
            <span
              class="text-primary"
              data-qb-tmp-id="lt-980143"
              spellcheck="false"
              data-gramm="false"
              >Vishal Ingle.</span
            >
          </h1>
          <p
            class="lh-lg mw-md-md mw-xl-sm mb-6"
            data-qb-tmp-id="lt-689046"
            spellcheck="false"
            data-gramm="false"
          >
            ServiceNow Developer and Business Analyst from India.
          </p>
          <div class="ms-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-none d-xl-block h-100 position-absolute top-0 start-0 bg-warning-light mw-sm w-100 mx-xl-n10"
    style="
      background-image: url('pstls-assets/images/headers/shadows-color.png');
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    "
  ></div>

  <img
    class="img-fluid position-absolute top-0 end-0"
    src="pstls-assets/images/headers/shadow-right.png"
    alt=""
    style="z-index: -1"
  />
</section>

<section class="py-24 bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="mw-md-lg mx-auto mx-xl-0">
          <h2 class="mb-9 display-5 lh-sm font-heading">About me</h2>
          <p class="mb-14 mw-md-md lh-lg">
            I’m passionate about exploring new ideas and continuously learning.
            Programming and writing are my true passions, driving my creativity
            and innovation.
          </p>
          <div>
            {% for aboutmepoints in site.aboutme %}
            <div class="d-flex align-items-center mb-8">
              <img
                class="img-fluid"
                src="pstls-assets/icons/features-6-check-circle.svg"
                alt=""
              />
              <p class="mb-0 ms-7 text-dark">{{ aboutmepoints.content }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex flex-row justify-content-center">
        <div class="d-flex flex-row mt-20 mt-md-0">
          <div class="me-8 mt-24">
            <img class="img-fluid" src="/images/togaf.png" alt="" />
            <img class="img-fluid" src="/images/psm2.png" alt="" />
            <img class="img-fluid" src="/images/pspo1.png" alt="" />
          </div>
          <div>
            <img class="img-fluid" src="/images/mvpbadge.png" alt="" />
            <img class="img-fluid" src="/images/itil4.png" alt="" />
            <img class="img-fluid" src="/images/implementer.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-28 bg-white">
  <div class="container">
    <div class="row d-flex flex-lg-row align-items-md-center">
      <div class="col-12 col-lg-5 mb-20 mb-lg-0">
        <div class="mw-sm">
          <h2 class="display-5 lh-sm mb-8 font-heading">
            The employers who shaped my career
          </h2>
          <p class="mb-0 lh-lg">
            A journey through Service, Aerospace, and Telecommunications
            industry.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-7 ms-auto">
        <div class="row">
          <div class="col-md-3 mb-8 mb-lg-0">
            <div class="mb-8">
              <div
                class="d-flex align-items-center justify-content-center bg-primary-light"
                style="height: 166px"
              >
                <img class="img-fluid" src="images/airbus90.png" alt="" />
              </div>
            </div>
            <div>
              <div
                class="d-flex align-items-center justify-content-center"
                style="height: 166px"
              >
                <img
                  class="img-fluid"
                  src="images/airbuspaircrafts.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-md-5 align-self-center">
            <div>
              <div
                class="d-flex align-items-center justify-content-center bg-danger-light"
                style="height: 264px"
              >
                <img class="img-fluid" src="images/tsystems147.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="mt-8 mt-md-28 mb-8">
              <div
                class="d-flex align-items-center justify-content-center"
                style="height: 166px"
              >
                <img class="img-fluid" src="images/tsystems.jpg" alt="" />
              </div>
            </div>
            <div>
              <div>
                <div
                  class="d-flex align-items-center justify-content-center bg-success2-light"
                  style="height: 166px"
                >
                  <img
                    class="img-fluid"
                    src="images/DxSherpa-Logo.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="py-24 bg-white position-relative"
  style="
    background-image: url('pstls-assets/images/testimonials/testimonial-2-shadow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <div class="container">
    <div
      id="testimonialsCarousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <!-- Carousel Indicators -->
      <div class="carousel-indicators">
        {% for testimonial in site.testimonials %}
        <button
          type="button"
          data-bs-target="#testimonialsCarousel"
          data-bs-slide-to="{{ forloop.index0 }}"
          class="{% if forloop.first %}active{% endif %}"
          aria-current="{% if forloop.first %}true{% endif %}"
          aria-label="Slide {{ forloop.index }}"
        ></button>
        {% endfor %}
      </div>

      <!-- Carousel Inner (Slides) -->
      <div class="carousel-inner">
        {% for testimonial in site.testimonials %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="d-md-flex mb-10 pt-20 px-12 px-md-24 pb-16 bg-dark">
            <div class="mb-6 mb-md-3 me-md-8">
              <img src="pstls-assets/icons/testimonials-quote.svg" alt="" />
            </div>
            <div>
              <h5 class="mb-10 lh-sm text-white mw-3xl font-heading">
                {{ testimonial.content }}
              </h5>
              <h6 class="mb-1 fw-bold lh-lg text-white font-heading">
                {{ testimonial.author }}
              </h6>
              <span class="mb-6 text-muted small d-block"
                >{{ testimonial.role }}</span
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Carousel Controls -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#testimonialsCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#testimonialsCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
