html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-bootstrap.png")
    body
        div(class="")
            section(class="pt-8 pt-md-24 pb-24 bg-white")
                div(class="container")
                    div(class="row align-items-center")
                        div(class="order-1 col-12 col-md-6")
                            div(class="mt-16 mt-md-0 mw-sm mw-md-lg mx-auto me-xl-0 ms-xl-auto")
                                h2(class="mb-9 display-5 lh-sm font-heading") Free Philippine Real Estate Ads Forums And Classifieds
                                p(class="mb-14 mw-md-md lh-lg") Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.
                                div(class="mw-md mx-auto ms-md-0")
                                    div(class="d-flex flex-row align-items-center")
                                        img(class="img-fluid", src="pstls-assets/icons/features-6-check-circle.svg", alt="")
                                        p(class="mb-0 ms-7 lh-lg text-dark") Video Games Playing With Imagination
                                    div(class="d-flex flex-row align-items-center mt-8")
                                        img(class="img-fluid", src="pstls-assets/icons/features-6-check-circle.svg", alt="")
                                        p(class="mb-0 ms-7 lh-lg text-dark") Headset No Longer Wired For Sound
                                    div(class="d-flex flex-row align-items-center mt-8")
                                        img(class="img-fluid", src="pstls-assets/icons/features-6-check-circle.svg", alt="")
                                        p(class="mb-0 ms-7 lh-lg text-dark") Sony Laptops Are Still Part Of The Sony Family
                        div(class="col-12 col-md-6 d-flex justify-content-center")
                            div(class="d-flex")
                                div(class="me-8 mt-24")
                                    img(class="img-fluid", src="pstls-assets/images/features/features-6-room.png", alt="")
                                    div(class="mw-md bg-warning-light py-32 mt-8")
                                div
                                    div(class="mw-md bg-primary-light py-32 mb-8")
                                    img(class="img-fluid", src="pstls-assets/images/features/features-6-chair.png", alt="")
            section(class="py-28 bg-white")
                div(class="container")
                    div(class="row d-flex flex-lg-row align-items-md-center")
                        div(class="col-12 col-lg-5 mb-20 mb-lg-0")
                            div(class="mw-sm")
                                h2(class="display-5 lh-sm mb-8 font-heading") Trusted by brands all over the world
                                p(class="mb-0 lh-lg") This UI Kit uses attractive colors and modern typography to make you look good, no matter what business you’re in.
                        div(class="col-12 col-lg-7 ms-auto")
                            div(class="row")
                                div(class="col-md-3 mb-8 mb-lg-0")
                                    div(class="mb-8")
                                        div(class="d-flex align-items-center justify-content-center bg-primary-light", style="height: 166px;")
                                            img(class="img-fluid", src="pstls-assets/logos/coca-cola-b-xs.svg", alt="")
                                    div
                                        div(class="d-flex align-items-center justify-content-center bg-danger-light", style="height: 166px;")
                                            img(class="img-fluid", src="pstls-assets/logos/champion-b-xs.svg", alt="")
                                div(class="col-md-5 align-self-center")
                                    div
                                        div(class="d-flex align-items-center justify-content-center bg-danger-light", style="height: 264px;")
                                            img(class="img-fluid", src="pstls-assets/logos/apple-b-xs.svg", alt="")
                                div(class="col-md-3")
                                    div(class="mt-8 mt-md-28 mb-8")
                                        div(class="d-flex align-items-center justify-content-center bg-primary-light", style="height: 166px;")
                                            img(class="img-fluid", src="pstls-assets/logos/facebook-b-xs.svg", alt="")
                                    div
                                        div
                                            div(class="d-flex align-items-center justify-content-center bg-success2-light", style="height: 166px;")
                                                img(class="img-fluid", src="pstls-assets/logos/google-b-xs.svg", alt="")
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
