html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-bootstrap.png")
    body
        div(class="")
            section(class="position-relative py-28 bg-white")
                div(class="container")
                    img(class="position-absolute top-0 start-0 bottom-0 h-100 w-100", style="object-fit: cover;", src="pstls-assets/images/contacts/pink-shadows.png", alt="")
                    div(class="position-relative row mb-8 mb-md-24")
                        div(class="col-12 col-md-6 mb-6 mb-md-0")
                            h2(class="display-4 font-heading") Contact
                        div(class="col-12 col-md-6")
                            p(class="mb-0 text-muted") Is the answer to your question missing?
                            p Get in touch with us.
                    div(class="position-relative row")
                        div(class="col-12 col-md-6")
                            div(class="row mb-12")
                                div(class="col-12 col-md-6 mb-12")
                                    p(class="mb-0 text-muted") E-mail
                                    a(class="text-decoration-none text-dark", href="mailto:contact@pstls.com") contact@pstls.com
                                div(class="col-12 col-md-6 mb-12")
                                    p(class="mb-0 text-muted") Phone
                                    p(class="mb-0") +1-2020-555-109
                                div(class="col-6")
                                    p(class="mb-2 text-muted") Socials
                                    div(class="d-flex")
                                        a(class="text-decoration-none", href="#")
                                            img(src="pstls-assets/images/contacts/facebook.png", alt="")
                                        a(class="text-decoration-none", href="#")
                                            img(src="pstls-assets/images/contacts/twitter.png", alt="")
                                        a(class="text-decoration-none", href="#")
                                            img(src="pstls-assets/images/contacts/google.png", alt="")
                        div(class="col-12 col-md-6")
                            div(class="p-8 bg-white shadow")
                                form(action="")
                                    div(class="row mb-6")
                                        div(class="col-12 col-md-6 mb-6 mb-md-0")
                                            input(class="form-control border-top-0 border-start-0 border-end-0", type="text", placeholder="Name")
                                        div(class="col-12 col-md-6")
                                            input(class="form-control border-top-0 border-start-0 border-end-0", type="text", placeholder="Surname")
                                    div(class="row mb-6")
                                        div(class="col-12 col-md-6 mb-6 mb-md-0")
                                            input(class="form-control border-top-0 border-start-0 border-end-0", type="email", placeholder="Mail address")
                                        div(class="col-12 col-md-6")
                                            input(class="form-control border-top-0 border-start-0 border-end-0", type="text", placeholder="Phone number")
                                    input(class="form-control mb-6 border-top-0 border-start-0 border-end-0", type="text", placeholder="Form Topic")
                                    textarea(class="form-control mb-6 border-top-0 border-start-0 border-end-0", style="resize: none;", name="", id="", cols="30", rows="10", placeholder="Form message")
                                    button(class="btn mb-6 d-flex align-items-center")
                                        svg(class="me-3", width="19", height="19", viewbox="0 0 19 19", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M18 8.96959L9.96279 16.5497C8.97817 17.4783 7.64274 18 6.25028 18C4.85782 18 3.52239 17.4783 2.53777 16.5497C1.55315 15.6211 1 14.3616 1 13.0483C1 11.7351 1.55315 10.4756 2.53777 9.54697L10.575 1.96687C11.2314 1.34779 12.1217 1 13.05 1C13.9783 1 14.8686 1.34779 15.525 1.96687C16.1814 2.58595 16.5502 3.4256 16.5502 4.30111C16.5502 5.17662 16.1814 6.01628 15.525 6.63535L7.47904 14.2154C7.15083 14.525 6.70569 14.6989 6.24154 14.6989C5.77738 14.6989 5.33224 14.525 5.00403 14.2154C4.67583 13.9059 4.49144 13.4861 4.49144 13.0483C4.49144 12.6106 4.67583 12.1907 5.00403 11.8812L12.429 4.88674", stroke="black", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                        span(class="fw-normal") Attach File
                                    button(class="btn w-100 btn-primary") Send Now
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
